.i_a_8474018e {
    border: 1px solid #e5e5e5;
    border-bottom: 0;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1724px;
    min-height: 0;
}

.CanvasComponent.LCS .CanvasZone {
    margin: 0;
    max-width: 1468px;
    padding: 0;
}